<div data-sly-test="${wcmmode.edit}">
    Configure Taggedlinklist component
</div>
<pre data-sly-use.tagListObj="com.aem.model.TagListModel">
<div data-sly-test="${!tagListObj.includealltag}" data-sly-unwrap>

	<ul data-sly-list.tagName="${tagListObj.tagcontenttList}">
        <b>Tag:-${tagName}</b>
            <ul data-sly-list.key="${tagListObj.tagcontenttList[tagName]}">
                <li> <a href=${key}>${key}</a></li>        
           </ul>
	</ul>
</div>

<div data-sly-test="${tagListObj.includealltag}" data-sly-unwrap>
    <b> All Search Tag:-</b>
	<div data-sly-list.pagePath="${tagListObj.alltagcontentList}">
             <li> <a href=${pagePath}>${pagePath}</a></li>        
	</div>

</div>
</pre>